.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

h1{
    text-align: center;
}

button{
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 40px;
}

h2{
    text-align: center;
    color:red;
}